<div class="dropdown col-md-2 offset-md-9 menu-action">
  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
    More Actions
  </button>
  <div class="dropdown-menu">
    <a class="dropdown-item" href="/places">Manage</a>
    <a class="dropdown-item" href="/places/new">New Place</a>
  </div>
</div>

