
<footer class="footer">

  <div class="row offset-md-4">
    <div class="col-md-2">
      <%= link_to image_tag("logo.png", class: "footer_logo"), root_path %>
    </div>
    <div class="col-md-2">
      <%= link_to image_tag("facebook-icon.png", class: "footer_logo"),root_path %>
    </div>
    <div class="col-md-2">
      <%= link_to image_tag("gmail-icon.png", class: "footer_logo"), root_path %>
    </div>


  </div>
  <div class="row" id="end_part_footer">
    <div class="col-md-8 offset-md-2">
    <p id="description">Review Places is a website for review and rate service of places around the world</p>
    </div>
    <div class="col-md-2 offset-md-5">
      <p id="time_fife"> @@ 2018-2019 </p>
    </div>

  </div>
</footer>