<footer class="footer container-fluid">
  <div class="container">
    <div class="row ">
      <div class="col-md-2 offset-md-2 head_footer">
        <a href="#" class="fa fa-facebook"></a>
      </div>
      <div class="col-md-2 head_footer">
        <a href="#" class="fa fa-twitter"></a>
      </div>
      <div class="col-md-2 head_footer">
        <a href="#" class="fa fa-google"></a>
      </div>
      <div class="col-md-2 head_footer">
        <a href="#" class="fa fa-instagram"></a>
      </div>
    </div>

    <div class="row" id="end_part_footer">
      <div class="col-md-8 offset-md-2">
        <p id="description">Review Places is a website for review and rate service of places around the world</p>
      </div>
      <div class="col-md-6 offset-md-3">
        <p id="time_fife">©2018-2019</p>
      </div>

    </div>
  </div>
</footer>